    .player {
        width: 13rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        background-color: grey;
        img {
            width: 3.5rem;
            height: 3.5rem;
            padding: 0.3rem;
            object-fit: cover;
            border-radius: 100%;
        }
        p {
            color: white;
            font-size: 1.25rem;
            font-family: OpenSans;
            margin: 0;
        }
    }
    
    .player_active {
        width: 16rem;
        background-color: rgb(28, 108, 8);
        img {
            width: 4.75rem;
            height: 4.75rem;
        }
    }