<div class="background_game">
    <!-- game info -->
    <app-info *ngIf="game?.StartAnimationEnd" class="place_info"></app-info>
    <!-- Added Players -->
    <div class="players">
        <app-player style="z-index: 1;" [chosenImage]="game?.chosenImages[i]" *ngFor="let player of game?.players; let i = index;" [name]="player" [playerActive]="i == game?.currentPlayer">
        </app-player>
    </div>
    <app-change-icon class="place_icon_btn"></app-change-icon>
    <div class="card_stack">
        <app-card-stack [game]="game"></app-card-stack>
        <!-- shuffle Animation -->
        <app-shuffle-cards [game]="game"></app-shuffle-cards>
    </div>
    <!-- shuffle Buttons -->
    <div class="container_content_shuffle" *ngIf="game?.checkTotalPlayers && !game?.StartAnimation">
        <div>
            <p class="text_shuffle">Shuffle</p>
            <p class="text_shuffle">to start</p>
        </div>
        <button (click)="shuffleCards()" class="button_shuffle">
            <img class="img_shuffle" src="/ringooffire/assets/img/shuffle.png ">
       </button>
    </div>
    <!-- game instructions -->
    <div class="container_content_bottom">
        <app-instructions [card]="game?.currentCard" *ngIf="game?.StartAnimation" class="instructions"></app-instructions>
        <button class="btn_add_player" matTooltip="add two players to start the game" *ngIf="!game?.StartAnimation" (click)="openDialog()" mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <p *ngIf="game?.StartAnimationEnd" class="icons8">icons by<a href="https://icons8.de/">Icons8</a></p>
    <!-- GameOver -->
    <app-game-over [game]="game"></app-game-over>
</div>