.background_over {
    z-index: -1;
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.399);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        @media (max-width: 1050px) {
            width: 43rem;
        }
        @media (max-width: 720px) {
            width: 34rem;
        }
        @media (max-width: 550px) {
            width: 20rem;
        }
    }
}